/* основний колір тексту #212121 
другорядний колір тексту #757575
фон в портфоліо студія #E5E5E5
футер #2F303A
фон команда  #F5F4FA
активне посилання колір кнопка  #2196F3

*/
:root {
    --main-text-color: #212121;
    --second-text-color: #757575;
    --color-active: #2196F3;
    --footer-color: #2F303A;
    --color-section: #F5F4FA;
    --color-btn: #ffffff;

}

body {
    font-family: roboto, sans-serif;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.header-list .link.current {
    color: var(--color-active);
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    /* outline: 2px solid teal; */
    margin-bottom: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.main-hero-studio {
    background-color: var(--footer-color);
    text-align: center;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url(../images/main.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-hero-title-studio {
    color: var(--color-btn);
    max-width: 696px;
    text-align: center;
    font-size: 44px;
    line-height: 1.3;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 0.06em;
    background-color: transparent;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.header-list {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    display: flex;
    margin-right: 50px;
}

.contacts {

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;
}

.studio-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--main-text-color);
    margin-bottom: 10px;
}

.after-title-studio {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    font-weight: 400;
    color: var(--second-text-color);
    width: 270px;
}

.team-title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-after-title {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: var(--second-text-color);
    text-align: center;
    letter-spacing: 0.03em;
}

.team-studio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.team {
    background: var(--color-section);
}

.team-info {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 59px;
    padding-right: 59px;
}

.footer {
    background: var(--footer-color);
    left: 0px;
    top: 2097px;
    margin-left: auto;
    margin-right: auto;
}

.street-address {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--color-btn);
    font-style: normal;
    margin-bottom: 9px;
    margin-top: 20px;
}

.nav-link {
    font-size: 14px;
    line-height: 1.7;
    color: var(--main-text-color);
    font-weight: 500;
    letter-spacing: 0.02em;
    display: block;
}

.studio-title-about {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin-bottom: 50px;
}

.header-nav .link:hover,
.header-nav .link:focus {
    color: var(--color-active);
}

.header-nav .link:active {
    color: var(--color-active);
}

.header-nav-link {
    margin-right: 50px;
}

.header-list .header-nav-link:last-child {
    margin-right: 0;
}

.contacts {
    color: var(--second-text-color);
}

.contacts:hover,
.contacts:focus {
    color: var(--color-active);
}

.addres-link {
    color: var(--second-text-color);
    font-style: normal;
}

.mail-link:hover,
.mail-link:focus {
    color: var(--color-btn);
}

.mail-link {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    line-height: 1.7;
}

.icon-mail::before {
    content: "";
    background-image: url(../images/envelope.svg);
    background-size: contain;
    background-color: red;
    width: 16px;
    height: 12px;
}

.tel-link:hover,
.tel-link:focus {
    color: var(--color-btn)
}

.tel-link {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    line-height: 1.7;
}

.icon-tel::before {
    content: "";
    background-image: url(../images/phone.svg);
}


.hero-btn {
    font-family: Roboto, sans-serif;
    background: var(--color-section);
    color: var(--main-text-color);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
    padding: 6px 22px;
}

.hero {
    padding-top: 94px;
    padding-bottom: 94px;
    border-top: 1px solid #ECECEC;
}

.hero-btn:hover,
.hero-btn:focus {
    font-family: Roboto, sans-serif;
    background-color: var(--color-active);
    color: var(--color-btn);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
}

.main-btn {
    background-color: var(--color-active);
    color: var(--color-btn);
}

.main-hero-btn-studio {
    background: var(--color-active);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    color: var(--color-btn);
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
}

.hero-list-title {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-text-color);
    margin-bottom: 4px;
}

.hero-list-after-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--color-active);
    margin-right: 93px;
}

.logo-color {
    color: var(--main-text-color);
}

.logo-color-white {
    color: var(--color-btn);
}

.main-hero-studio {
    padding-top: 200px;
    padding-bottom: 200px;
}

.info, .team {
    padding-top: 94px;
    padding-bottom: 94px;
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo-footer {
    margin-bottom: 20px;
}

.header-contacts {
    display: flex;
    margin-left: auto;
}

.header-contacts .contacts-item+.contacts-item {
    margin-left: 50px;
}

.header-container {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.info-container {
    display: flex;
    align-items: center;
}

.info-li-title:nth-child(1):before {
    background-image: url(../images/vector.svg);
    padding: 25px 102px;
}

.info-li-title:nth-child(2):before {
    background-image: url(../images/time.svg);
    padding: 25px 102px;
}

.info-li-title:nth-child(3):before {
    background-image: url(../images/computer.svg);
    padding: 25px 102px;
}

.info-li-title:nth-child(4):before {
    background-image: url(../images/astronaut.svg);
    padding: 25px 102px;
}


.info-container .info-li-title+.info-li-title {
    margin-left: 30px;
}

.info-li-title::before {
    display: block;
    content: "";
    height: 120px;
    background-color: var(--color-section);
    background-size: contain;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.img-list-studio {
    display: flex;
}

.img-list-studio .img-studio+.img-studio {
    margin-left: 30px;
}

.team-container {
    display: flex;
}

.mail-link-address {
    margin-bottom: 9px;
}

.team-container {
    display: flexbox;
}

.team-container .li-team+.li-team {
    margin-left: 30px;
}

.work {
    padding-bottom: 94px;
}

.li-team {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.hero-card {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 24px;
    padding-left: 24px;
}

.hero-list-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.hero-list-btn .hero-item-btn+.hero-item-btn {
    margin-left: 8px;
}

.hero-item {
    background: var(--color-btn);
    border: 1px solid #EEEEEE;
    width: 370px;
}

.hero-list {
    display: flex;
    flex-wrap: wrap;
}

.hero-item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.hero-item:not(:nth-child(n+7)) {
    margin-bottom: 30px;
}